* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}



.cardprod:hover {
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  padding: 30px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px black;
  padding: 30px;
  border: 1px solid violet;
}

/* NAV BAR AZUL */
.navbarazul {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8e04cd), color-stop(#5d229f), color-stop(#38226e), color-stop(#1f193c), to(#090909));
  background-image: linear-gradient(to bottom, #8e04cd, #5d229f, #38226e, #1f193c, #090909);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.conteiner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.buscador {
  width: 40%;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.buscador-input {
  width: 100%;
}

.header2 {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(104, 221, 9);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.nav-item a {
  color: white;
}

.nav-detalles {
  gap: 10%;
  margin-left: -15%;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.tel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.tel-margenes {
  font-family: 'Kdam Thmor Pro', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.tel-margenes2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 35px;
}

.tel-parrafo {
  padding: 10px;
  margin-top: 16px;
}

.usuario {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
}

.usuario-padd {
  padding: 20px;
}

.usuario-btn {
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: white;
}

.usuario-btn p {
  width: 100%;
  height: 8px;
}

.efecto-hover {
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: white;
}

.efecto-hover:hover {
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: violet;
}

.navbar-nav li a:hover {
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: violet;
}

.navbar-nav ul li a {
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: black;
}

.scale {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  margin: 0 auto;
}

.scale:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.scale2 {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  margin: 0 auto;
}

.scale2:hover {
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.cajon-contenido {
  padding: 20px;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.conteiner-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 2%;
  padding: 10px;
  width: 100%;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.boxes-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-card {
  padding-bottom: 15px;
}

.marcas-destacadas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.ver-marcas {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.conteiner-marcas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
  width: 90%;
  margin: auto;
}

.publicidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2%;
  padding: 10px 10px 40px;
  width: 100%;
}

.publicidad1 {
  padding-right: 20px;
}

.conteiner-publicidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer-conteiner {
  font-family: 'Kdam Thmor Pro', sans-serif;
  background-color: black;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.conteiner-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 2%;
  padding: 10px;
  margin: 10px;
  width: 100%;
}

.footer-tit {
  color: white;
}

.conteiner-logo-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 25%;
  margin-right: 40px;
}

.logo-imagen-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conteiner-nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 100%;
  gap: 5%;
}

.box-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 140px;
}

.conteiner-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 100%;
  gap: 5%;
}

.box-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 140px;
}

.conteiner-categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 100%;
  gap: 5%;
}

.box-cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 140px;
}

.conteiner-clientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 100%;
  gap: 5%;
}

.box-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  height: 140px;
}

.conteiner-redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 100%;
  gap: 5%;
}

.box-redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 140px;
}

.contenedortex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.contenedorbox {
  border: 1px solid black;
  -webkit-box-shadow: 0px 0px 20px black;
          box-shadow: 0px 0px 20px black;
  width: 87%;
  height: auto;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.divform {
  width: 70%;
  padding: 10px 10px;
  -webkit-box-shadow: 0px 0px 10px #111111;
          box-shadow: 0px 0px 10px #111111;
}

.tituloform {
  font-family: 'Koulen', cursive;
}

.formin {
  padding: 10px;
}

.formin input {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px #111111;
          box-shadow: 0px 0px 10px #111111;
  padding: 5px;
  font-family: 'Koulen', cursive;
  width: 300px;
}

.formin textarea {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px #0a0a0a;
          box-shadow: 0px 0px 10px #0a0a0a;
  font-family: 'Koulen', cursive;
  width: 50%;
}

.section-prod {
  border: 2px solid violet;
  -webkit-box-shadow: 0px 0px 15px blueviolet;
          box-shadow: 0px 0px 15px blueviolet;
  margin: 10px;
  padding: 10px;
  background-color: white;
  opacity: 1.5;
}

.titulosprod {
  text-align: center;
  padding: 20px;
  font-family: 'Sniglet', cursive;
}

.cuerpoprod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.cuerpoprod img {
  padding: 10px 10px;
  width: 100%;
}

.parrafoprod {
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.section-vet {
  border: 2px solid violet;
  -webkit-box-shadow: 0px 0px 15px blueviolet;
          box-shadow: 0px 0px 15px blueviolet;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  background-color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.cuerpovet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

/* ESCRITORIO */
@media screen and (min-width: 550px) {
  .header3 {
    display: none;
  }
  .nav-mob {
    display: none;
  }
  .nav-label {
    display: none;
  }
}

/* ANDROID */
@media screen and (max-width: 550px) {
  .usuario {
    display: none;
  }
  .telefonos {
    display: none;
  }
  .buscador {
    display: none;
  }
  .header2 {
    display: none;
  }
  .header3 {
    display: block;
    background-color: black;
    list-style: none;
  }
  .publicidad {
    display: none;
  }
  .conteiner-info {
    display: none;
  }
  .conteiner-categorias {
    display: none;
  }
  .conteiner-clientes {
    display: none;
  }
  .conteiner-redes {
    display: none;
  }
  .conteiner-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2%;
    padding: 10px;
    margin: 10px;
    width: 100%;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav {
    display: none;
  }
  .nav-mob {
    display: none;
    position: fixed;
    background-color: black;
    top: 0%;
    bottom: 30%;
    width: 100%;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-clip-path: circle(0 at center);
            clip-path: circle(0 at center);
    -webkit-transition: -webkit-clip-path 1s ease-in-out;
    transition: -webkit-clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out, -webkit-clip-path 1s ease-in-out;
    font-family: 'Bebas Neue', cursive;
    z-index: 999;
  }
  .nav-input {
    list-style: none;
  }
  .nav-input:checked + .nav-mob {
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
    list-style: none;
  }
  .nav-label {
    margin-right: 5%;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contenedor-produ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-evenly;
  }
  .img-mobi {
    display: none;
  }
  section.section-vet {
    border: 2px solid violet;
    -webkit-box-shadow: 0px 0px 15px blueviolet;
            box-shadow: 0px 0px 15px blueviolet;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  img.imgvet {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */